<% for(let x=0; x < 1; x++){%>
    <% if(location != undefined){ %>
        <h2> <%= location %> average temps</h2>
        
    <% } %>
           
        <h3> Average temperature for the week is: <%= average %> degrees </h3>
        
   
<%}%>